* {
  margin: 0;
  box-sizing: border-box;
}

main{
  background-color: rgb(247, 214, 116);
}


.cuadricula {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 100px 40px;
  padding: 5px;
  background-color: rgb(79, 134, 244);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  margin: 20px 100px;
  position: static;
  z-index: 1;
}

.columna-play, .columna-cancion, .columna-album, .columna-duracion, .columna-favoritos{
  display: flex;
  align-items: center;
}

.columna-album, .columna-cancion{
  justify-content: space-between;
}

.columna-cancion a{
  text-decoration: none;
}

.columna-cancion a:hover{
  background-color:rgb(235, 225, 244);
}

.cuadricula > div {
  background-color: rgb(120, 240, 240);
  padding: 10px;
}

.reproductor{
  display: grid;
  background-color: rgb(247, 127, 127);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: fixed;
  bottom: 0;
}

